/*
Theme Name:   Bienales
Theme URI:    http://example.com/twenty-fifteen-child/
Description:  Hello Elementor Child
Author:       Yesid Mendoza
Author URI:   http://example.com
Template:     hello-elementor
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  helloelementorchild
*/

body {
  overflow-x: hidden;
}

.fwpl-layout.el-8yhzj .fwpl-result {
  border-style: hidden !important;
  border-color: #e4e4e4;
  border-width: 1px;
  padding: 15px;
}

/*  home grid  */
.masonry-grid-column {
  width: 16.66% !important;
}

.my-masonry-grid-item {
  margin: 10px;
  z-index: 99;
  cursor: pointer;
}

/* ============================
.popup-box */

.popup-box {
  background-color: #e2e2e2;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
}

.img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img > img {
  z-index: 9;
  height: 100%;
  /* width: 100%; */
  object-fit: contain;
}
.pre-loader {
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.popup-box .navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: #ffffff;
  z-index: 9;
  user-select: none;
}

.popup-box .navigation > div {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* info tab  */

.info {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 32px 26px;
  width: 270px;
  height: 366px;
  flex-shrink: 0;
  background: #fff;
  color: #000;
  font-family: BLAA-alt;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
.info > p ,.info > span {
  text-align: start;
  font-size: 16px;
  color: black;
  font-weight: 400;
  font-family: BLAA-alt;
  line-height: 20px;
  font-style: normal;
}
