/*
Theme Name:   Bienales
Theme URI:    http://example.com/twenty-fifteen-child/
Description:  Hello Elementor Child
Author:       Yesid Mendoza
Author URI:   http://example.com
Template:     hello-elementor
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  helloelementorchild
*/

@font-face {
  font-family: "BLAA-alt-Regular";
  src: url("/wp-content/themes/museolatertulia/fonts/BLAA-alt-Regular.woff") format("woff"), url("/wp-content/themes/museolatertulia/fonts/BLAA-alt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BLAA-alt-Bold";
  src: url("/wp-content/themes/museolatertulia/fonts/BLAA-alt-Bold.woff") format("woff"), url("/wp-content/themes/museolatertulia/fonts/BLAA-alt-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: "BLAA-alt-Regular" !important;
}

.fwpl-layout.el-8yhzj .fwpl-result {
  border-style: hidden !important;
  border-color: #e4e4e4;
  border-width: 1px;
  padding: 15px;
}

/*  home grid  */
.masonry-grid-column {
  width: 16.66%;
}

.my-masonry-grid-item {
  margin: 10px;
  z-index: 99;
  cursor: pointer;
}

/* ============================
.popup-box */

.popup-box {
  background-color: #e2e2e2;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img > img {
  z-index: 9;
  height: 100% !important;
  width: 100% !important;
  object-fit: contain;
}
.pre-loader {
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.pre-loader-filtered {
  z-index: 0;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.popup-box .navigation {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: #ffffff;
  z-index: 9;
  user-select: none;
}

.popup-box .navigation > div {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.documentWindow {
  background-color: rgb(255, 255, 255);
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -50%;
  transition: right 0.3s;
  animation: ease-out;
  padding: 20px;
}

.gallerie > div {
  width: 33.33% !important;
}

.gallerie > div > div {
  padding: 10px;
}

.documentData {
  overflow-y: scroll;
  height: 100%;
}
.slide-in {
  right: 0; /* Slide the window into view */
}

.closedocumentWindow {
}
.documentWindowNav {
  position: absolute;
  bottom: 0;
  position: absolute;
  bottom: 0;
  left: 0px;
  display: inline-flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: #ffffff;
  transition: 0.3s;
  animation: ease-out;
  cursor: pointer;
}

.slide-in-btn {
  left: -54px;
}
.cross,
.plus {
  transition: 0.3s;
}
.cross:hover,
.plus:hover {
  transform: rotate(90deg);
}

.sidebar-grid > div {
  width: 33% !important;
}

.sidebar-grid {
  overflow-y: scroll;
  height: 100%;
}

.sidebar-grid .masonry-grid-item {
  padding: 10px;
}

/* info tab  */

.info {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 32px 26px;
  width: 270px;
  height: 366px;
  flex-shrink: 0;
  background: #fff;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  overflow-y: scroll;
  padding-bottom: 100px;
}

.info > p,
.info > span {
  text-align: start;
  font-size: 16px;
  color: black;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
}

.documentImg {
  cursor: pointer;
}

.documentSingleImage {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: none;
}

img.sidebar-single-image {
  transform: translate(-50%, -50%);
  object-fit: contain;
  width: 100%;
  height: 100% !important;
  padding: 40px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0px;
}

/*
                ------------ HEADER -------------
 */

.header-left {
  /* background-color: rgb(243, 243, 243); */
  color: #1e1e1e;
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  justify-content: space-between;
}

.header-right {
  color: #1e1e1e;
  display: flex;
  z-index: 999;
  position: fixed;
  top: 0;
  justify-content: space-between;
  right: 0;
  z-index: 1;
}

.toggle-menu span:after,
.toggle-menu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

.toggle-menu span:after {
  top: 9px;
}

.toggle-menu span {
  position: relative;
  display: block;
}

.toggle-menu span,
.toggle-menu span:after,
.toggle-menu span:before {
  width: 100%;
  height: 4px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
.toggle-menu.on span {
  background-color: transparent;
}

.toggle-menu.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle-menu.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

.toggle-menu.on + #menu {
  opacity: 1;
  visibility: visible;
}

.toggle-menu span,
.toggle-menu span:after,
.toggle-menu span:before {
  width: 38px;
  height: 2px;
  background-color: #0c0d0e;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

.toggle-container {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.left-toggle-container {
  height: 100%;
  display: flex;
  align-items: center;
}

#left-menu {
  background-color: white;
  padding: 10px;
  position: absolute;
  left: -97px;
  top: 69px;
  border-radius: 5px;
  display: none;
  min-width: 230px;
}

.submenu {
  padding: 0px;
  padding-top: 15px;
  font-size: 20px;
  font-family: BLAA-alt-Regular;
  font-weight: normal;
  list-style: none;
}

p.menu_date {
  margin: auto;
}


#left-menu .submenu {
  display: none; /* Initially hide the submenus */
}

/* #left-menu.active{
  display: grid;
  transition: .3s;
} */

#left-menu > div > ul {
  list-style: none;
  padding: 10px 0px;
}

#left-menu > div > ul > li {
  text-transform: capitalize;
  font-family: BLAA-alt-Bold;
  font-weight: 500;
  font-size: 22px;
  padding: 10px 36px 10px 80px;
}

#left-menu > div > ul > li:first-child {
  opacity: 0.7;
}

#left-menu > div > ul > li > ul > li:first-child {
  opacity: 0.7;
}

#left-menu > div > ul > li > ul > li:hover {
  opacity: 0.8;
}

#left-menu::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.logo-container {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.logo {
  cursor: pointer;
}
.logo > h1 {
  color: #1e1e1e;
  font-size: 48px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin: auto !important;
  padding-top: 7px;
}
.log > h1 > font {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

/* Right Side Menu  */

.menu-right {
  display: flex;
  justify-content: end;
  background-color: white;
  height: fit-content;
  position: relative;
}
p.parent_menu {
  margin: 0;
}
.menu-right > ul {
  display: flex;
  list-style: none;
  display: inline-flex;
  padding: 0px 44px !important;
  justify-content: flex-end;
  align-items: center;
  gap: 64px;
}

.menu-right > ul > li {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-family: BLAA-alt-Bold;
  color: #000;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.menu-item .submenu {
  position: absolute;
  top: calc(100% + 5px);
  background-color: white;
  max-height: 750px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #ff8ec3;
  overflow-y: scroll;
  min-width:200px;
  left: -50%;
}
.menu-item:last-child .submenu{
margin-left: -25px !important;
}
.menu-item:first-child .submenu{
  left: -40% !important;
  }
  
.submenu > .drop_down_menu {
  padding: 5px 10px;
  min-width: 160px;
}

.menu-item .submenu::-webkit-scrollbar {
  width: 0px;
}

.header-right .menu-right ul {
  list-style: none;
  padding: 0;
}

.header-right .menu-right ul > li {
  position: relative;
  cursor: pointer;
  margin: 5px 0;
  
  /* width: max-content; */
}

.header-right .menu-right ul ul {
  display: none;
  text-align: left;
}

.header-right .menu-right ul ul li {
  font-size: 16px;
  padding: 5px 20px;
  color: #000;
font-family: BLAA-alt-Regular;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; ;
}

/* Add additional styling as needed */

/* 
                                      Footer  
*/
.site-footer {
  position: fixed !important;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

/* sidebar Loader */

.sidebarLoader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*               map              */

.home_section {
  display: flex;
  transition: .3s;
  justify-content: space-between;
}
.map {
  width: 0%;
}

.artists{
  width: 50%;
}

.my-masonry-grid{
  width: 100%;
  height: 100vh;
  overflow: auto;
  position: relative;
}




.map-grid{
  width: 33.33% !important;
}

#Brasil{
  fill: #a4fffa;
}